@media (max-width: 1200px) {
.about__speed {
  justify-content: center;
  display: flex;
}
.about__item, .about__best{
  flex-wrap: wrap; 
  justify-content: center;
  display: initial;
}
.about__text{
  margin-bottom: 47px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about__text-top{
  padding-bottom: 51px;
}
.about__text-item {
  padding-left: 39px;

}
.about{
  margin:50px 0;
}
.about__img{
  display: flex;
  justify-content: center;
}
.about__img:hover {
  transform: scale(1);
}
.speed__text {
  padding-left:0;
  justify-content: center;
  padding-top: 50px;
  flex-wrap:wrap;
}
.speed__advantages{
  padding-top: 0;
  padding-left: 0;
  order: -1;
  padding-right: 90px;
  
} 
.interior__img img{
  width: 100%;
} 

}
@media (max-width: 960px){
  footer{
    padding: 50px ;
  }
  .footer__btn{
    align-items: center;
  }
.footer__item-first{
  display: flex;
  justify-content: space-around;
}
.footer__items{
  flex-direction: column;
}
.footer__container-mobile{
  display: flex;
  justify-content: space-around;
}
.footer__btn-touch{
  margin:0;
}


.footer__items li:first-child{
  padding-bottom: 15px;
}
}

@media (max-width: 900px) {
  .statistics__item {
    padding: 36px;
  }
  .interior__text{
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 700px){
  .statistics__num {
    line-height: 70px;
 }
}

@media (max-width: 610px){
  .speed__advantages{
    padding-bottom:25px;
  }
  .about__img img {
    width: 100%;
  }
  .interior__text-left, .interior__text-right {
      font-size: 20px;
    padding: 34px 17px 25px 34px;
  }
  .interior__box{
    left:10px;
  }
  .footer__container-mobile{
    flex-direction: column;
    align-items: center;
  }
  footer{
    padding: 25px;
  }
  .footer__btn-touch{
    padding: 15px 19px;
  }
  .footer__items {
    font-size: 20px;
  }
  .footer__menu{
    padding-top: 20px;
  }
}
@media (max-width: 586px){
  .speed__menu{
    justify-content: center;
  }
  .about__text{
    flex-direction: column;
    align-items: center;
  }
  .about__text-item {
    padding-left: 0;
  }

}
@media (max-width: 545px) {
  .statistics__item{
    padding: 25px 0;
  }
  
  .statistics__num {
    font-size: 75px;
    line-height: 50px;
    padding: 33px 0 17px;
}
@media (max-width: 414px) {
  .logo img {
    width: 200px;
  }
  .header__content-title {
    font-size: 70px;
    line-height: 85px;
    margin-top: 20px;
  }
  .menu__list a {
    font-size: 30px;
    line-height: 40px;
    padding: 19px 10px 7px 0;
    display: block;
    min-width: 100%;
  }
  .menu__list li {
    width: 100%;
  }
  .menu__list a:hover {
    transform: scale(1);
    margin-left: 0;
  }
  
}
@media (max-width: 400px){
  .statistics__num {
    font-size: 50px;
    line-height: 41px;
}
.statistics__num span {
  font-size: 16px;
  line-height: 20px;
}
.statistics__descr {
  font-size: 19px;
}
.statistics__plus span::before {
  content: "+";
  top: -33px;
}
.header__content-batton {
  padding: 22px 45px;
}
.statistics {
  margin: 110px 0 50px;
}
.video {
  margin: 50px 0;
}
.speed__menu{
  font-size: 20px;
}
.speed__advantages{
  font-size: 28px;
}
.about__text-top{
  font-size: 28px;
}
.about__text-item{
  font-size: 20px;
}
}