.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #000000;
  /* left: 100%;
  transition: all 1s 0s ease;
  transition-timing-function: cubic-bezier(0.18, 1.1, 0.93, -0.37); */
  z-index: 8;
  display: none;
}
.menu.active {
  left: 0;
  display: initial;
}
.container__menu {
  position: relative;
}
.closed-btn {
  width: 50px;
  height: 50px;
  /* background-color: #fff; */
  position: absolute;
  right: 15px;
  top: 31px;
  cursor: pointer;
}
.closed-btn::after,
.closed-btn::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: #fff;
  top: 50px;
  transform-origin: left;
}
.closed-btn::after {
  transform: rotate(45deg);
  top: -1px;
}
.closed-btn::before {
  transform: rotate(-45deg);
  bottom: -1px;
}
.menu__list {
  height: 100vh;
  display: flex;
  align-items: center;
}
.menu__list li {
}
.menu__list a {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  padding: 30px 25px 14px 0;
  border-bottom: 3px solid #b70021;
  display: inline-block;
  min-width: 368px;
  transition: all 0.5s;
}
.menu__list a:hover {
  border-bottom: 3px solid #ffffff;
  color: #b70021;
  transform: scale(1.2);
  margin-left: 37px;
}
